.city-search {
    position: relative;
    text-align: center;
    top: 60px;
    align-items: center;
    font-family: "Inter", sans-serif;
    width: 30rem;
    margin: 0 auto;
}


.search-box {
    width: 350px;
}



.main {
    height: 600px;
    display: block;
    margin: 0 auto;
    top: 100px;
}

.day {
    font-family: 'B612 Mono', monospace;
    font-size: 18px;
    text-align: center;
}

.city {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    text-align: center;
}

.temperature {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    text-align: center;
}

.units {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    text-align: center;
}

.date {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    text-align: center;
}

.description {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-align: center;
}

.details {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    text-align: center;
}

.forecast {
    height: 200px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: flex;
    margin-right: 5px;
}

.align {
    text-align: center;

}

.forecast-text {
    font-size: 16px;
}